$breakpoint-xl: 'only screen and (min-width:1200px)';

$breakpoint-lg: 'only screen and (min-width:992px) and (max-width:1199px)';

$breakpoint-md: 'only screen and (min-width:768px) and (max-width:991px)';

$breakpoint-sm: 'only screen and (min-width:576px) and (max-width:767px)';

$breakpoint-xs: 'only screen and (max-width:767px)';

$breakpoint-xs-landscape: 'only screen and (min-width:480px) and (max-width:767px)';

@media (max-width: 991px) {
    .mobileHide {
      display: none;
    }
}

.tituloPrincipal {
  margin-top: 30%;
  margin-left: 64.9%;
  color: white;
  width: 100%;
  font-size: 600%; }

@media (max-width: 1660px) {
    .tituloPrincipal {
      color: white;
      width: 100%;
      font-size: 600%;
      margin-top: 30%;
      margin-left: 35%;
       } }

@media (max-width: 768px) {
.tituloPrincipal {
  color: white;
  width: 100%;
  font-size: 4rem;
  margin-top: 62%;
  margin-left: 0px;
    } }

@media (max-width: 480px) {

  .maxBig {
    max-height: 42rem; }


    .tituloPrincipal{
      color: white;
      width: 100%;
      margin-top: 85%;
      font-size: 3rem;
    }
  
    .maxBig{
      max-height: 500px;
    }

    .cardContainer h3{
      font-size: large;
  }
}

@media (max-width: 300px) {
  .tituloPrincipal{
    color: white;
    width: 100%;
    font-size: 400%;}

}

#BannerAboutUs{
  background-size: 100%;
}

#nuestroEquipo{
  margin-top: 50%;
}

.logo{
  width: 295px;
}