// Heading Color
$heading-color: #05516d;

// Text Color
$text-color: #05516d;

// Default Background
$bg-default: #086a8f;

// Gray Background
$bg-gray: #f3f3f3;

// Primary Color
$pri-color: #086a8f;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #eaeaea;

// Hover Color
$hover-color: #086a8f;

// Footer Color
$footer-color: #141414;

// Secondary Color
$secondary-color: #9e9990;